<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <style>
        .container{
            width: 50px;
            height: 50px;
            overflow: hidden;
            position: relative;
        }
        .container > img src { 
            position: absolute;
            width: 100%;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
    </style>
</head>

<body>
    <div class="container">
        <img src="C:\Users\신수빈\Downloads\1118피그마랑 - 복사본\project_sample\img\Frame 수정 - 복사본.png">
        width: 50px;
        height: 50px;
    </div>
</body>

/*
* {
  box-sizing: border-box;
}
.item-lists {
  width: 100%;
  max-width: 720px;
  margin: auto;
  position: relative;
  padding: 20px;
}
.item {
}
padding: 20px;
background: ■#fff;
border: 1px solid #eee;
border-radius: 6px;
margin-bottom: 20px;
.item h1 {
  font-size: 20px;
  margin: 0;
  margin-bottom: 10px;
}
.item p {
  margin: 0;
  color: #555;
}
.item img {
  width: 640px;
}
.item-bg {
  width: 640px;
  height: 360px;
  background: url(../img/Frame\ 수정\ -\ 복사본.png) no-repeat center/cover;
  /*background-size: auto; */
}
/* background-image: url(../img/sample.jpg);
  background-repeat: no-repeat; background-position: center; */
/* background-size: cover; background-size: contain; */
